<a href="https://colab.research.google.com/github/dfklsna/sangwoo-Kim/blob/main/pandasHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

os 모듈을 이용하여 현재 작업중인 디렉토리를 /content/로 변경하고 해당 디렉토리 내의 파일 목록을 출력하는 코드

In [ ]:
import os

os.chdir('/content/')

print(os.getcwd()) 

print(os.listdir()) 

os.chdir('/content/sample_data/')

print(os.listdir())

targeUrl에 저장된 파일을 dataframe의 df2로 저장하는 코드

In [ ]:
### 와~ pandas

import pandas as pd


targetUrl = "https://raw.githubusercontent.com/gundaminpde/2022/main/gapminder_sample.tsv"

df2 = pd.read_csv(targetUrl, sep='\t')

dataframe의 df2에서 상위 5개의 행을 출력하는 코드

In [ ]:
print(df2.head( ))

dataframe의 df2의 데이터 유형을 출력하는 코드

In [ ]:
print(type(df2))

dataframe의 df2의 행과 열의 개수를 출력하는 코드

In [ ]:
print(df2.shape)

dataframe의 df2의 열 레이블을 출력하는 코드

In [ ]:
print( df2.columns)

dataframe의 df2의 각 열의 데이터 유형을 출력하는 코드

In [ ]:
print(df2.dtypes)

dataframe의 df2의 정보를 출력하는 코드

In [ ]:
print(df2.info())

해당 사이트에 있는 파일을 복제하고, 해당파일을 dataframe의 df3으로 읽는 코드

In [ ]:
!git clone https://github.com/gundaminpde/chow.git

df3 = pd.read_csv("./chow/ThoraricSurgery.csv", sep=',') 

print(df3.head())

dataframe의 df2에서 "country" 열의 데이터만 선택하여 countary_df에 저장하고 이 변수의 데이터 타입과 상위 5개의 행과 하위 5개의 행을 출력하기

In [ ]:
print(df2.head())

print(" ")

countary_df=df2["country"]

print(type(countary_df)) 

print(countary_df.head())

print(countary_df.tail())

dataframe의 df2에서 "country", 'continent', 'year' 열 데이터를 subset_df에 저장하고 이 변수의 타입과 상위 5개의 행과 하위 5개의 행을 출력하기

In [ ]:
subset_df=df2[["country", 'continent', 'year']]

print(type(subset_df)) 

print(subset_df.head())

print(subset_df.tail())

In [ ]:
print(df2.head())

df2에서 행의 인덱스가 0인 데이터를 출력하는 코드

In [ ]:
print(df2.loc[0])

df2에서 첫 번째 행의 데이터를 출력하는 코드

In [ ]:
print(df2.iloc[0])

마지막 행의 데이터를 출력하는 방법들

In [ ]:
number_rows = df2.shape[0]

print(df2.shape)

last_row_index = number_rows - 1

print(df2.loc[last_row_index])


print(" ")

## 또 다른 방법, tail(n=1)

print("또 다른 방법, tail(n=1)")

print(df2.tail(n=1))

df2에서 인덱스가 0, 20, 30인 행의 데이터를 선택하여 출력하는 코드

In [ ]:
print(df2.loc[[0,20,30]])

df2에서 인덱스가 0부터 4까지인 행의 데이터를 선택하여 출력하는 코드

In [ ]:
print(df2.loc[0:4])

iloc는 행의 위치를 이용하고 loc는 인덱스의 값이 -1인 것의 데이터를 선택한다. pandas에선 음수를 지원하지 않기에 에러가 발생한다.

In [ ]:
## iloc[-1]는 가능, loc[-1]는 불가능


print(df2.iloc[-1])

print(df2.loc[-1])

df2에서 'year', 'pop' 열을 새로운 subset1을 만들고, 2,4,-1, 위치에 해당하는 열을 새로운 subset2를 만든다.

In [ ]:
subset1 = df2.loc[:,['year' ,'pop']]

print(subset1.head() )


subset2 = df2.iloc[:,[2,4,-1]]

print(subset2.head() )

(0,6,2)와 [0:6:2]는 같은 0,2,4열을 선택한다.

In [ ]:
subset3 = df2.iloc[:,range(0,6,2)]

print(subset3.head() )

subset4 = df2.iloc[:, 0:6:2]

print(subset4.head() )

첫번째는 1,100,1000번째 행과 0,3,5번째 열을 추출했고, 두번째는 10~13번째 행과 'country', 'lifeExp', 'gdpPercap'열을 추출했다.

In [ ]:
print(df2.iloc[[0,99,999],[0,3,5]])  

print(df2.loc[10:13,['country','lifeExp','gdpPercap']])

df2에서 1~10번째 행을 출력하고, 'year'열을 기준으로 데이터를 그룹화하고, 'lifeExp'열의 평균값을 계산하여 출력하기

In [ ]:
### groupby()

print(df2.head(n=10))


print(df2.groupby('year')['lifeExp'].mean())

df2.groupby('year')['lifeExp'].mean()의 뜻을 풀어서 설명

In [ ]:
### 위의 코드를 풀어서 설명하면...

df2_groupby_year = df2.groupby('year')
print(df2_groupby_year)
##print(df2_groupby_year.head())

too_long = df2_groupby_year['lifeExp']

too_long.mean()

'continent'으로 그룹화하고 'country'의 수를 계산하여 출력

In [ ]:
print(df2.groupby('continent')['country'].nunique())

matplotlib로 그래프 그리기 
or은 빨간색 점으로 표시하는 코드

In [ ]:
### matplotlib inline <==jupyter notebook용 그래프그리기 __매직함수magic method__


import matplotlib.pyplot as plt

year_lifeExpectancy = df2.groupby('year')['lifeExp'].mean()

print(year_lifeExpectancy)

year_lifeExpectancy.plot()

plt.show()

plt.plot(year_lifeExpectancy,'or')

시리즈 생성, index를 통해 각 데이터가 무엇을 의미하는지 레이블을 지정할 수 있다

In [ ]:
import pandas as pd

A_series = pd.Series(['와','어이',123 ])

print(A_series)

print('')

B_series = pd.Series(['우와','자동차',123 ], index = ["감탄사","명사", '숫자'])

print(B_series)

A_D_frame=dataframe 생성하는 코드. 이름, 키, 몸무게, 인기 4개의 열을 갖는 행렬

In [ ]:
A_D_frame = pd.DataFrame({ 
    '이름':['뽀로로', '포비', '에디' ],
    '키(m)':[1.2 , 2.1, 1.4],
    '몸무게': ['가벼움', '무거움', '보통'],
    '인기': ['많음', '보통', '보통']}
)

print(A_D_frame)

B_D_frame=dataframe 에서 데이터 값과 인덱스 레이블을 지정하여 생성하는 코드. 키, 몸무게, 인기 3개의 열을 갖는 행렬

In [ ]:
B_D_frame = pd.DataFrame(
    data={ '키(m)':[1.2 , 2.1, 1.4],
          '몸무게': ['가벼움', '무거움', '보통'],
          '인기': ['많음', '보통', '보통']},
    index= ['뽀로로', '포비', '에디'],
    columns=["키(m)","몸무게","인기"]
)

print(B_D_frame)

C_D_frame=입력된 '이름', '키', '몸무게', '인기' 순서대로 열을 만드는 코드

In [ ]:
from collections import OrderedDict

C_D_frame = pd.DataFrame(OrderedDict([
    ('이름',['뽀로로', '포비', '에디' ]),
    ('키(m)',[1.2 , 2.1, 1.4]),
    ('몸무게', ['가벼움', '무거움', '보통']),
    ('인기', ['많음', '보통', '보통'])
])
)

print(C_D_frame)

D_D_frame='뽀로로'행에 해당하는 데이터의 '키', '몸무게', '인기'의 열의값을 출력하는 코드

In [ ]:
D_D_frame = pd.DataFrame(
    data={ '키(m)':[1.2 , 2.1, 1.4],
          '몸무게': ['가벼움', '무거움', '보통'],
          '인기': ['많음', '보통', '보통']},
    index= ['뽀로로', '포비', '에디'],
    columns=["키(m)","몸무게","인기"]
)

first_row = D_D_frame.loc['뽀로로']

print(first_row)

인덱스의 첫 번째 행을 출력하는 코드

In [ ]:
print(first_row.index)

첫 번째 행의 값들을 출력하는 코드

In [ ]:
print(first_row.values)

index에 해당하는 첫번째 행의 키를 출력하는 코드

In [ ]:
print(first_row.keys())

첫번째 인덱스의 값, 두번째 열의 이름, 두번째 값을 출력

In [ ]:
print(first_row.index[0])

print(first_row.keys()[1])

print(first_row.values[1])

D_D_frame에서 키 열의 데이터를 height에 저장 후, 최댓값, 최솟값, 평균값, 표준편차를 출력한다

In [ ]:
height=D_D_frame['키(m)']

print(height)

print(height.max())

print(height.min())

print(height.mean())

print(height.std())  # standard deviation = std

targeUrl을 불러와 pd.read_csv 함수를 사용하여 scientists에 저장하고 상위 10개의 행을 출력한다.

In [ ]:
import pandas as pd

targetUrl_sci= "https://raw.githubusercontent.com/gundaminpde/2022/main/scientists.csv"

scientists = pd.read_csv(targetUrl_sci)

scientists.head(n=10)

scientists dataframe에서 'Age"열에 해당하는 데티터를 추출하고 최댓값,평균값도 출력한다.

In [ ]:
ages = scientists['Age']

print(ages.max())
print(ages.mean())

'ages'에서 평균보다 큰 값을 가지는 값만 추출하여 출력하고 2번째 코드는 크면 true, 작으면 false로 나타낸다

In [ ]:
print(ages[ages > ages.mean()])

print(ages > ages.mean())

scientists에서 'Age'열의 값이 평균보다 큰 행만 추출하는 코드

In [ ]:
print(scientists[ scientists['Age'] > scientists['Age'].mean() ]) ## 불린 추출

scientists 에서 'Age'열 출력, 'Born', 'Died'열의 데이터 타입을 출력하는 코드

In [ ]:
print(scientists['Age'])

print(scientists['Born'].dtype) 

print(scientists['Died'].dtype)

'Born'열의 값을datetime으로 변환해주는 코드

In [ ]:
born_datetime = pd.to_datetime(scientists['Born'],format='%Y-%m-%d')

print(born_datetime)

changed_one=born_datetime.dt.strftime('%m/%d/%Y')

print(changed_one)

died의 datatime을 추가하는 코드

In [ ]:
died_datatime = pd.to_datetime(scientists['Died'],format='%Y-%m-%d')

print(died_datatime)

scientists['Born_dt'], scientists['Died_dt'] = (born_datetime, died_datatime)


print(scientists.head())

scientists의 태어난 날짜와 죽은 날짜를 기반으로 life_days라는 새로운 열을 추가하는 코드

In [ ]:
scientists['life_days'] =  scientists['Died_dt'] - scientists['Born_dt']

print(scientists)

shuffle함수로 무작위로 다시 섞은 뒤 다시 출력하는 코드

In [ ]:
print(scientists['Age'])

import random

random.seed(2)

random.shuffle(scientists['Age'])

print(scientists['Age'])

print(scientists.iloc[:,0:4])

디렉토리를 /content/로 변경하고 scientists의 dataframe에서 'Name'열을 추출하여 pickle파일로 저장하고 'return_names'로 저장 후 출력한다

In [ ]:
## 피클로 만들어 저장하고 꺼내오기.

import os

print(os.getcwd())

os.chdir('/content/')

names = scientists['Name']

names.to_pickle('../content/scientists_names.pickle')

return_names = pd.read_pickle('../content//scientists_names.pickle')

print(return_names)

concat함수를 이용해 df_King, df_Whang, df_ZZang를 연결, axis=0인 경우 행 방향, axis=1인 경우 열 방향으로 연결되어 데이터가 합쳐진다

In [ ]:
# Creating data frames
df_King = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df_Whang = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[0, 1, 2, 3])

df_ZZnag = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[0, 1, 2, 3])

print("\nThe DataFrame number 1\n",'-'*30, sep='')
print(df_King)
print("\nThe DataFrame number 2\n",'-'*30, sep='')
print(df_Whang)
print("\nThe DataFrame number 3\n",'-'*30, sep='')
print(df_ZZnag)

### 아래가 하고 싶은 것

df_cat_A = pd.concat([df_King,df_Whang,df_ZZnag], axis=0)
print("\nAfter concatenation along row\n",'-'*30, sep='')
print(df_cat_A)

df_cat_B = pd.concat([df_King,df_Whang,df_ZZnag], axis=1)
print("\nAfter concatenation along column\n",'-'*60, sep='')
print(df_cat_B)

iris 데이터셋을 seaborn으로 불러오고 irisData의 마지막 5개의 행을 출력한다

In [ ]:
import seaborn as sns

targetUrl_iris="https://raw.githubusercontent.com/gundaminpde/2022/main/iris.csv"

irisData = pd.read_csv(targetUrl_iris)

print(irisData.shape)

print(irisData.head())

irisData.tail()

irisData의 Sepal_Length와 Sepal_Width에 대한 산점도를 그리는 코드. 'Species' 열을 기준으로 색상별로 구분하여 출력

In [ ]:
sns.set_theme()
sns.set(rc={"figure.dpi":300}) #이미지 품질 설정
sns.set(rc={"figure.figsize":(6,3)}) ## 크기설정


## Scatter plot 산점도

sns.scatterplot(x="Sepal_Length", y ="Sepal_Width", data=irisData, hue ='Species')

y축을 Petal_Length로 설정하고 빈도수를 x축에 나타내는 히스토그램을 그리는 코드

In [ ]:
## 히스토그램 histogram

sns.histplot( y= "Petal_Length", data = irisData)

Petal_Length를 x축, 빈도수를 y축에 나타낸 히스토그램을 그리는 코드

In [ ]:
sns.histplot( x= "Petal_Length", data = irisData)

kde는 Kernel Density Estimation으로 커널밀도추정 곡선을 그리는 코드

In [ ]:
sns.histplot( x= "Petal_Length", data = irisData, kde = "True")

Species 별로 Petal_Length의 분포를 나타내는 히스토그램을 그리는 코드

In [ ]:
sns.histplot( x= "Petal_Length", data = irisData, hue = "Species")

sns.barplot은 x와 y축에 변수를 지정하여 각 범주별로 평균값을 시각화한 코드

In [ ]:
## Barplot : 숫자 변수의 경향 추청치를 보여준다.

sns.barplot(x="Species", y="Petal_Width", data =irisData)

Box plot을 이용하여 x축엔 Species, y축엔Sepal_Length인 그래프를 그리는 코드

In [ ]:
## Box plot

sns.boxplot(x="Species", y="Sepal_Length", data=irisData)

In [ ]:
## sns.boxplot(x="Species", y="Sepal_Length", data=irisData, hue="group") data에 group이 없다.